<section class="d-flex justify-content-center align-items-center">
  <div class="row  g-0 shadow rounded overflow-hidden w-100">
    <div class="col-md-8 d-none d-md-block">
      <div class="img"></div>
    </div>
    <div class="col-md-4 align-self-center">
      <form class="px-4" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <h1 class="text-center display-5 fw-bold pb-3">Login</h1>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Ex. abc@abc.com">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is <strong>required</strong> </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email') || loginForm.get('email')?.hasError('pattern')">
            Enter valid <strong>Email</strong>
          </mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            min length is <strong>7</strong>
          </mat-error>
        </mat-form-field>

        <button [disabled]="loginForm.invalid" class="w-100" type="submit" mat-raised-button
          color="primary">Login</button>

      </form>

    </div>
  </div>
</section>
